<header>
    <nav>
        <div class="logo"><a href="/">fislerim</a></div>
        <ul>
            <li><a href="/">Eski Fisler</a></li>
            <li><a href="/add">Fis Ekle</a></li>
        </ul>
    </nav>

</header>